# Node modules
node_modules/

# Environment variables
.env

# Debug and log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional npm cache directory
.npm

# Distribution or build folders (if applicable)
dist/
build/

# System files
.DS_Store